<html></html>
<head>
  <title>Agregar Salon</title>
 
</head>
<body>
  <h1>Agregar Salon</h1>
  <form action="" method="POST">
    
    
    <label for="names">Nombre del salon:</label>
    <input type="text" id="nombres" name="nombres" required>   
    
    <label for="direction">Dirección:</label>
    <input type="text" id="direccion" name="direccion">

    <label for="price">Precio del salon</label>
    <input type="text" name="direccion" name="direccion" required>

    <label for="image">Imagenes del salon</label>
    <input type="image" id="image" name="imagen" required>

    <form>
        <ul>
            <li>
                <label>
                    <input type="checkbox" name="cocina" value="cocina">
                    Cocina equipada para catering de eventos
                </label>
            </li>
            <li>
                <label>
                    <input type="checkbox" name="wifi" value="wifi">
                    Wifi de 26 Mbps para todas las necesidades tecnológicas
                </label>
            </li>
            <li>
                <label>
                    <input type="checkbox" name="estacionamiento" value="estacionamiento">
                    Estacionamiento amplio y gratuito
                </label>
            </li>
            <li>
                <label>
                    <input type="checkbox" name="guardaObjetos" value="guardaObjetos">
                    Guarda de objetos para organizadores antes y después del evento
                </label>
            </li>
            <li>
                <label>
                    <input type="checkbox" name="jardin" value="jardin">
                    Jardín parcialmente cercado, ideal para fotos y actividades al aire libre
                </label>
            </li>
            <li>
                <label>
                    <input type="checkbox" name="balcon" value="balcon">
                    Balcón privado con vistas relajantes
                </label>
            </li>
            <li>
                <label>
                    <input type="checkbox" name="decoracion" value="decoracion">
                    Decoración moderna y personalizable para reflejar el estilo del evento
                </label>
            </li>
            <li>
                <label>
                    <input type="checkbox" name="sonido" value="sonido">
                    Sistema de sonido y tecnología audiovisual moderna
                </label>
            </li>
            <li>
                <label>
                    <input type="checkbox" name="banos" value="banos">
                    Baños amplios y bien mantenidos para la comodidad de los invitados
                </label>
            </li>
            <li>
                <label>
                    <input type="checkbox" name="movilidad" value="movilidad">
                    Acceso para personas con movilidad reducida
                </label>
            </li>
        </ul>
    </form>
</form>
</body>
</html>