<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salones - Inicio</title>
    <link rel="stylesheet" href="/Public/Css/dashboard.css">
    <link rel="shortcut icon" href="/Public/img/Icono_l.ico" type="image/x-icon">
</head>
<body>
    <div class="add">
        <div class="sub_add">
        <h1 class="title_add">Gestión de Salones</h1>
        <button onclick="location.href='/admin/add-room'" class="btn_add">Agregar Salón</button>
        <button onclick="window.location.href='/admin/hallsad'" class="btn_add">Salones Disponibles</button>
        </div>
    </div>
</body>
</html>