<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salones - Inicio</title>
</head>
<body>
    <h1>Gestión de Salones</h1>
    <button onclick="location.href='/admin/add-room'">Agregar Salón</button>
    <button onclick="window.location.href='/admin/hallsad'">Ver Salones Disponibles</button>
</body>
</html>
