.title-major {
    text-align: center;
    font-size: 45px;
    padding: 20px 0;
    font-family: "Kaushan Script", cursive;
    font-weight: 400;
    font-style: normal;
    background-color: #f5e6f6;
}

@media (max-width: 360px) {
    .title-major {
        font-size: 28px;
    }
}

.carousel-s {
    position: relative;
    overflow: hidden;
}

.splide__slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-m {
    display: flex;
    justify-content: center;
    position: absolute !important;
    left: 67%;
    bottom: 20%;
}

@media (max-width: 768px) {
    .carousel-m {
        bottom: 10%;
        left: 43%;
    }
}

@media (max-width: 360px) {
    .carousel-m {
        bottom: 4%;
        left: 35%;
    }
}

.carousel {
    border-radius: 10px;
}

.text-carousel {
    position: absolute;
    bottom: 50%;
    left: 10%;
    width: 40%;
    color: white;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.9);
}

@media (max-width: 768px) {
    .text-carousel {
        bottom: 40%;
        width: 60%;
    }
}

@media (max-width: 360px) {
    .text-carousel {
        bottom: 35%;
        width: 90%;
        left: 3%;
    }
}

.text-t {
    font-size: 40px;
    font-family: "Kaushan Script", cursive;
    font-weight: 400;
    font-style: normal;
}

@media (max-width: 768px) {
    .text-t {
        font-size: 30px;
    }
}

@media (max-width: 360px) {
    .text-t {
        font-size: 16px;
    }
}

.text-c {
    margin: 10px 0;
    text-align: justify;
    font-size: 20px;
    font-family: "M PLUS 1 Code", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

@media (max-width: 768px) {
    .text-c {
        font-size: 17px;
    }
}

@media (max-width: 360px) {
    .text-c {
        font-size: 12px;
        margin: 2px 0;
    }
}