* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: 0;
    position: absolute;
    transition: 1.0s ease;
    z-index: 1;
    background-color: transparent;
}

.sticky {
    position: fixed;
    background: #6e7173;
    transform: translateY(0);
    width: 100%;
    top: 0;
    left: 0;
}

.hidden {
    transform: translateY(-100%);
}

.logo {
    width: 20%;
    margin-left: 5%;
}

.logot {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    color: white;
}

.nav {
    width: 70%;
    display: flex;
    align-items: center;
}

.list {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.item {
    list-style: none;
}

.link {
    text-decoration: none;
    font-family: "Magra", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    position: relative;
    transition: color 0.6s ease-in-out;
}
  
.link::before {
    content: "";
    position: absolute;
    top: 100%;
    width: 100%;
    height: 3px;
    background-color: var(--link-1, white);
    transform: scaleX(0);
    transition: transform 0.6s;
    margin: 2px 0;
}
  
.link:hover {
    color: var(--link-1, white);
}
  
.link:hover::before {
    transform: scaleX(1);
}

.fondo {
    width: 100%;
    display: flex;
    position: relative;
}

.img {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0;
}

.title {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    font-size: 50px;
    font-family: "Kaushan Script", cursive;
    font-weight: 400;
    font-style: normal;
    color: white;
}

.txt {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f5e6f6;
}

.titulo {
    font-size: 40px;
    margin-bottom: 40px;
    margin-top: 40px;
    font-family: "Kaushan Script", cursive;
    font-weight: 400;
    font-style: normal;
}

.parrafo {
    font-size: 25px;
    margin-bottom: 30px;
    text-align: justify;
    width: 80%;
    font-family: "M PLUS 1 Code", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

.btn {
    width: 100px;
    margin-bottom: 20px;
    padding: 10px;
    cursor: pointer;
    border: 1px solid;
    color: black;
    font-family: "Magra", sans-serif;
    font-weight: 700;
    font-style: normal;
    background-color: #f1eef0;
    border-radius: 10px;
    border: 2px solid white;
}

.btn:hover {
    background-color: #f5e6f6;
}

#perfilButton {
    background: none;
    border: none;
    cursor: pointer;
    color: white; /* Ajusta el color para que coincida con el de los enlaces */
    font: inherit;
    font-family: "Magra", sans-serif; /* Igual que los enlaces del navbar */
    font-weight: 700;
    font-style: normal;
    font-size: 16px; /* Ajusta el tamaño de fuente para que sea consistente */
}

#perfilMenu {
    position: absolute;
    top: 200%; /* Ajusta este valor para posicionar el menú más abajo */
    right: 0;
    background-color: white;
    border: 1px solid #ddd;
    padding: 15px; /* Aumenta el padding para mayor espacio interno */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: none; /* Oculta el menú inicialmente */
    width: 200px; /* Ajusta el ancho según sea necesario */
}


#perfilMenu p {
    margin: 10px 0; /* Ajusta el margen para los elementos del menú */
    font-size: 18px; /* Aumenta el tamaño de la fuente */
}


#perfilMenu a {
    color: black; /* Asegúrate de que el enlace tenga un color legible */
    font-size: 18px; /* Aumenta el tamaño de la fuente para los enlaces */
}
.image-s {
    max-width: 100%;
    width: 100%;

    height: 400px;


}

#perfilMenu button {
    background-color: #f1eef0;
    border: 2px solid white;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Magra", sans-serif;
    font-weight: 700;
    font-size: 16px; /* Ajusta el tamaño de la fuente del botón */
    color: black;
}


#perfilMenu.show {
    display: block; /* Muestra el menú cuando tiene la clase 'show' */
}

