* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 0 3%;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

@media (max-width: 768px) {
    .content {
        flex-wrap: wrap;
    }
}

@media (max-width: 360px) {
    .content {
        flex-direction: column;
    }
}

.text_sbn {
    font-family: "M PLUS 1 Code", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 30px;
}

.imagen {
    width: 60%;
}

@media (max-width: 768px) {
    .imagen {
        width: auto;
    }
}

@media (max-width: 360px) {
    .imagen {
        padding-right: 0!important;
        width: auto;
    }
}

.img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
}

.info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 2%;
    padding: 30px;
    width: 40%;
    border: 2px solid rgb(221, 221, 221);;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .info {
        width: auto;
    }
}

@media (max-width: 360px) {
    .info {
        width: auto;
        margin-top: 8px;
    }
}

.text {
    margin: 10px;
    font-size: 18px;
}

.fecha {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2%;
    width: 30%;
}

@media (max-width: 768px) {
    .fecha {
        width: auto;
    }
}

.form_h {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border: 2px solid rgb(221, 221, 221);;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .form_h {
        margin-top: 20px;
    }
}

.label_h {
    font-size: 20px;
    margin: 10px 0;
}

.input_h{
    padding: 4px;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
}

.btn_sh {
    position: relative;
    border-left: 3px ridge #5ac3f2;
    border-right: 3px ridge #5ac3f2;
    outline: none;
    background-color: transparent;
    transition: 2s;
    border-radius: 0.3em;
    cursor: pointer;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-top: transparent;
    border-bottom: transparent;
    font-family: "Magra", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
}

.btn_sh:hover {
    box-shadow: inset 0px 0px 25px #5ac3f2;
    border-top: 3px ridge #5ac3f2;
    border-bottom: 3px ridge #5ac3f2;
    border-radius: 10px;
}

/* Estilos Textos */

.container_text {
    display: flex;
    align-items: space-between;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
}

.content-text {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

@media (max-width: 768px) {
    .content-text {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: -20px;
    }
}

.title_text_sub {
    font-size: 30px;
    text-align: center;
}

@media (max-width: 768px) {
    .title_text_sub {
        margin-left: 5%;
    }
}

@media (max-width: 360px) {
    .title_text_sub {
        margin-left: 10%;
        font-size: 23px;
    }
}

.text_sub {
    padding: 10px;
}

@media (max-width: 768px) {
    .text_sub {
        margin-bottom: -30px;
    }
}

@media (max-width: 360px) {
    .text_sub {
        margin-bottom: -30px;
    }
}

.text_alb {
    font-size: 20px;
    margin: 10px;
    padding: 10px;
    text-align: justify;
    display: flex;
    align-items: center;
}

.img_text_sub {
    margin-right: 10px;
}