<!-- Font Awesome CDN -->
<link rel="stylesheet" href="/Public/Css/main.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="carousel-container">
    <div class="carousel-slide">
        <div class="carousel-item" style="background-image: url(https://cdn0.matrimonio.com.co/vendor/1068/3_2/640/jpeg/img-8758_10_171068-171690501423618.jpeg);">
            <div class="carousel-content">
                <div class="carousel-name">Switzerland</div>
                <div class="carousel-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
                <button class="carousel-button">See More</button>
            </div>
        </div>
        <div class="carousel-item" style="background-image: url(https://cdn0.matrimonio.com.co/vendor/8781/3_2/640/jpeg/whatsapp-image-2024-04-02-at-11-11-02-am_10_128781-171226055595240.jpeg);">
            <div class="carousel-content">
                <div class="carousel-name">Finland</div>
                <div class="carousel-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
                <button class="carousel-button">See More</button>
            </div>
        </div>
        <div class="carousel-item" style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSAynLQhmpZoIT3ZPvueVwMjvfXl7z0uVRrOg&s);">
            <div class="carousel-content">
                <div class="carousel-name">Iceland</div>
                <div class="carousel-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
                <button class="carousel-button">See More</button>
            </div>
        </div>
        <div class="carousel-item" style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7ZuuC3HC0KAagvhB_e9O0FUsBDJ_xkUxjxg&s);">
            <div class="carousel-content">
                <div class="carousel-name">Australia</div>
                <div class="carousel-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
                <button class="carousel-button">See More</button>
            </div>
        </div>
        <div class="carousel-item" style="background-image: url(https://www.eventosgrandia.com.mx/wp-content/uploads/2019/06/3KmmTB7C_img1.jpeg);">
            <div class="carousel-content">
                <div class="carousel-name">Netherland</div>
                <div class="carousel-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
                <button class="carousel-button">See More</button>
            </div>
        </div>
        <div class="carousel-item" style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTP3ZCdujrhzSrKkn5eclHNHV7xccJvjuSOCQ&s);">
            <div class="carousel-content">
                <div class="carousel-name">Ireland</div>
                <div class="carousel-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
                <button class="carousel-button">See More</button>
            </div>
        </div>
    </div>

    <div class="carousel-buttons">
        <button class="carousel-prev"><i class="fa-solid fa-arrow-left"></i></button>
        <button class="carousel-next"><i class="fa-solid fa-arrow-right"></i></button>
    </div>
</div>

<script src="/Public/Js/mai.js"></script>
