<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventify</title>
    <link rel="stylesheet" href="Public\Css\Style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Kaushan+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Magra:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/Public/libs/splide-4.1.3/dist/css/splide.min.css">
    <script src="/Public/libs/splide-4.1.3/dist/js/splide.min.js"></script>
</head>
<body>
    <header id="menu">
        <div class="logo">
            <p class="logot"><a href="/index" class="link">EVENTIFY</a></p>
        </div>
        <nav class="nav">
            <ul class="list">
                <li class="item">
                    <a href="/index" class="link">INICIO</a>
                </li>
                <li class="item">
                    <a href="/user/salones" class="link">SALONES</a>
                </li>
                <li class="item">
                    <a href="/user/reservation" class="link">RESERVAS</a>
                </li>
                <li class="item">
                    <a href="/user/payments" class="link">PAGOS</a>
                </li>
                <li class="item">
                    <a href="/Login" class="link">INICIAR SESIÓN</a>
                </li>     
            </ul>
        </nav>
    </header>
    <div class="fondo">
        <img src="Public\img\ImgPrincipal\Fondo.jpg" class="img">
        <div class="title">
            <p class="text">VEN A CREAR MOMENTOS INOLVIDABLES</p>
        </div>
    </div>
    <div class="txt">
        <p class="titulo">HOLA, BIENVENIDOS A EVENTIFY</p>
        <p class="parrafo">Eventify, es una página en donde podrás encontrar salas de eventos para cualquier ocasión que necesites, conociendo la ubicación del salón en donde vas a realizar tu evento, podrás montar una foto de los momentos que vivas en cada reserva que hagas y además de esto, podrás hacer tu propia invitación personalizada para tus acompañantes o invitados.</p>
    </div>
    <%- include('cards') %>
</body>
<script src="/Public/Js/splide.js"></script>
<script src="/Public/Js/header.js"></script>
</html>