<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservas</title>
    <link rel="stylesheet" href="/Public/Css/loading_screen.css">
    <link rel="stylesheet" href="/Public/Css/reservations.css">
    <link rel="stylesheet" href="/Public/Css/header.css">
    <link rel="shortcut icon" href="/Public/img/Icono_l.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Magra:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100..700&display=swap" rel="stylesheet">
</head>
<body>
    <div id="loading-screen">
        <div class="spinner"></div>
    </div>
    <header id="menu">
        <div class="logo">
            <p class="logot"><a href="/index" class="link">EVENTIFY</a></p>
        </div>
        <nav class="nav">
            <ul class="list">
                <li class="item">
                    <a href="/index" class="link">INICIO</a>
                </li>
                <li class="item">
                    <a href="/user/halls" class="link">SALONES</a>
                </li>
                <li class="item">
                    <a href="/user/reservation" class="link">RESERVAS</a>
                </li>
                <li class="item">
                    <a href="/user/payments" class="link">PAGOS</a>
                </li>
                <li class="item">
                    <a href="/Login" class="link">INICIAR SESIÓN</a>
                </li>     
            </ul>
        </nav>
    </header>
    <body>
        <div class="container">
            <h1>Tus Reservas</h1>
    
            <div id="reservas-container">
                <!-- Aquí se insertará el contenido dinámico -->
            </div>
        </div>
</body>
<script src="/Public/Js/loading_screen.js"></script>
<script src="/Public/Js/reservation.js"></script>
</html>