<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Información Salón</title>
    <link rel="stylesheet" href="/Public/Css/loading_screen.css">
    <link rel="stylesheet" href="/Public/Css/footer.css">
    <link rel="stylesheet" href="/Public/Css/sub_halls.css">
    <link rel="stylesheet" href="/Public/Css/header.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
    <link rel="shortcut icon" href="/Public/img/Icono_l.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Magra:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100..700&display=swap" rel="stylesheet">
</head>
<body>
    <div id="loading-screen">
        <div class="spinner"></div>
    </div>
    <header id="menu">
        <nav class="nav">
          <div class="menu-toggle" id="menu-toggle">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
          </div>
            <ul class="list" id="enlaces">
                <li class="item">
                  <a href="/index" class="link">EVENTIFY</a>
                </li>
                <li class="item">
                    <a href="/index" class="link">INICIO</a>
                </li>
                <li class="item">
                    <a href="/user/halls" class="link">SALONES</a>
                </li>
                <li class="item">
                    <a href="/user/reservation" class="link">RESERVAS</a>
                </li>
                <li class="item">
                    <a href="/user/payments" class="link">PAGOS</a>
                </li>
                <li class="item">
                    <a href="/Login" class="link">INICIAR SESIÓN</a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <h1 class="title">SALÓN AURORA</h1>
        <div class="content">
            <div class="imagen">
                <img src="/Public/img/Salon2.jpg" alt="" class="img">
            </div>
            <div class="info">
                <div class="info-p">
                    <p class="text">BELLO, ANTIOQUÍA</p>
                    <p class="text">$200.000 COP NOCHE</p>
                    <p class="text">CAPACIDAD: 100 PERSONAS</p>
                    <button id="" class="btn">PAGAR</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container_text">
        <h3 class="title_text_sub">Lo que ofrece el Salón Aurora</h3>
        <div class="content-text">
            <div class="text_sub_h">
                <div class="text_sub">
                    <p class="text_alb"><img src="/Public/img/cocinero.png" alt="" class="img_text_sub">Cocina equipada para catering de eventos</p>
                    <p class="text_alb"><img src="/Public/img/Wi-Fi.png" alt="" class="img_text_sub">Wifi de 26 Mbps para todas las necesidades tecnológicas</p>
                    <p class="text_alb"><img src="/Public/img/Estacionamiento.png" alt="" class="img_text_sub">Estacionamiento amplio y gratuito</p>
                    <p class="text_alb"><img src="/Public/img/Guardar.png" alt="" class="img_text_sub">Guarda de objetos para organizadores antes y después del evento</p>
                    <p class="text_alb"><img src="/Public/img/Jardin.png" alt="" class="img_text_sub">Jardín parcialmente cercado, ideal para fotos y actividades al aire libre</p>
                </div>
                <div class="text_sub">
                    <p class="text_alb"><img src="/Public/img/Balcon.png" alt="" class="img_text_sub">Balcón privado con vistas relajantes</p>
                    <p class="text_alb"><img src="/Public/img/Adorno.png" alt="" class="img_text_sub">Decoración moderna y personalizable para reflejar el estilo del evento</p>
                    <p class="text_alb"><img src="/Public/img/Sonido.png" alt="" class="img_text_sub">Sistema de sonido y tecnología audiovisual moderna</p>
                    <p class="text_alb"><img src="/Public/img/Baño.png" alt="" class="img_text_sub">Baños amplios y bien mantenidos para la comodidad de los invitados</p>
                    <p class="text_alb"><img src="/Public/img/Discapacitado.png" alt="" class="img_text_sub">Acceso para personas con movilidad reducida</p>
                </div>
            </div>
            <div class="map_sub">
                <div id="map" class="map"></div>
            </div>
        </div>
    </div>
    <footer>
        <div class="content-f">
            <img src="/Public/img/Imagen_f.jpeg" alt="" class="img-l">
            <ul class="ul-f">
                <li class="li-f"><a href="/index" class="link-f">Inicio</a></li>
                <li class="li-f"><a href="/user/halls" class="link-f">Eventos</a></li>
                <li class="li-f"><a href="#" class="link-f">Conócenos</a></li>
                <li class="li-f"><a href="#" class="link-f">Política de Privacidad</a></li>
                <li class="li-f"><a href="#" class="link-f">Términos y Condiciones</a></li>
            </ul>
            <ul class="ul-f">
                <li class="li-f-h"><h3 class="text-f">Contáctanos</h3></li>
                <li class="li-f"><p class="text-fc"><img src="/Public/img/telefono.png" alt="" class="img-i">Teléfono: +57 3012342123</p></li>
                <li class="li-f"><p class="text-fc"><img src="/Public/img/correo.png" alt="" class="img-i">Correo: EventifyASP@gmail.com</p></li>
                <li class="li-f"><p class="text-fc"><img src="/Public/img/direccion.png" alt="" class="img-i">Dirección: Calle xyz, Medellín - Colombia</p></li>
                <li class="li-f"><a href="#" class="link-f">Envíanos un Mensaje</a></li>
            </ul>
            <ul class="ul-f">
                <li class="li-f-h"><h3 class="text-f">Síguenos</h3></li>
                <li class="li-f"><a href="#" class="link-f"><img src="/Public/img/Facebook.png" alt="" class="img-i">Facebook</a></li>
                <li class="li-f"><a href="#" class="link-f"><img src="/Public/img/WhatsApp.png" alt="" class="img-i">WhatsApp</a></li>
                <li class="li-f"><a href="#" class="link-f"><img src="/Public/img/Instagram.png" alt="" class="img-i">Instagram</a></li>
                <li class="li-f"><a href="#" class="link-f"><img src="/Public/img/TikTok.png" alt="" class="img-i">Tik Tok</a></li>
                <li class="li-f"><a href="#" class="link-f"><img src="/Public/img/X.png" alt="" class="img-i">X</a></li>
            </ul>
        </div>
        <div class="der">
            <p class="text-fd">Copyright © 2024 Eventify Colombia - Todos los derechos reservados.</p>
        </div>
    </footer>
</body>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
<script src="/Public/Js/map.js"></script> 
<script src="/Public/Js/loading_screen.js"></script>
<script src="/Public/Js/header.js"></script>
</html>